

.backgroundColors {
background-color: #f4976b;
background-color:#b5dfe5;
background-color:#d2fdfe;
background-color:#f9f9f9;
background-color : #fae8a6;
}
body {
padding : 1%;
background-color : #fff;
}

.moveDownOne {
margin-bottom : 1%;
background-color :  #404040;
color : #fff;
border-radius: 20px 20px 0px 5px;
}

.embraceSearch {
padding : 1%;
border-style: groove;
background-color : #dbdce0;
/* min-height : 110%; */
overflow: hidden;
display : block;
}

.leanlefticals {
overflow-x: scroll;
white-space: nowrap;
}

.reduceSpanOfSearch {
    width : 100%;
    border-radius: 15px;
    height : 100%;
    margin-top: 8%;
}

.searchIcon {
    font-size: xxx-large;
    margin-left: 1%;
    margin-top : 1%;
    /* padding : 0%; */
    cursor: pointer;
    display: inline-block;
}



@keyframes animatedBackground {
  from {
    background-position: -200% 0;
  }
  to {
    background-position: 1050px 0;
  }
}
.clouds {

  background-image : url("../imgs/cloud.png");
  background-position: 20px 0;
  background-repeat: repeat-x;
  animation-direction : normal;
  animation: animatedBackground 36s linear infinite;
   background-size: 100% 100%;
   overflow:hidden;
   /* margin-top:25%; */
   /* padding-top : 25%; */
}
.makeTextNicer {
  font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol;


}

@keyframes animatedBackgroundRain {
  from {
    background-position: 0 -200px;
  }
  to {
    background-position: 0 200px;
  }
}



.rain {
  background-image : url("../imgs/rain.png");
  background-position: -200px 0px;
  background-repeat: repeat-y; 
  animation-direction : normal;
  animation: animatedBackgroundRain 1s linear infinite;
   background-size: 100% 100%;
}






.fog {

  background-image: url(../imgs/fog.png);
  background-position: -200px 0px;
  background-repeat: repeat-y; 
  animation-direction : normal;
  animation: animatedBackgroundFog 7s linear infinite;
   background-size: 100% 100%;
}


@keyframes animatedBackgroundFog {

  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 1000px 0;
  }
}

@keyframes animatedBackgroundSun {
  from {
    background-position: -1025px -300px;
  }
  to {
    background-position: 1000px -300px;
  }
}
.sunshine {

  background-image: url(../imgs/sun.png);
  background-position: 0 0;
  background-repeat: NO-REPEAT;
  animation-direction: normal;
  animation: animatedBackgroundSun 20s linear infinite;
  background-size: 850px 850px;
}



@keyframes animatedBackgroundThunder {
  from {
    background-position: -200% 0;
  }
  to {
    background-position: 200% 0;
  }
}
.thunder {

  background-image: url(../imgs/thunder.png);
  background-position: -200px 0px;
  background-repeat: NO-REPEAT;
  animation-direction: normal;
  animation: animatedBackgroundThunder 20s linear infinite;
  background-size: 50% 50%;
}


.wind {
   background-image: url(../imgs/wind.png);
   background-position: -200px 0px;
   background-repeat: NO-REPEAT;
   animation-direction: normal;
   animation: up 3s linear infinite;
   background-size: 80% 80%;
}


@keyframes up {
  0%   { background-position: 275px 0;
    background-size: 80% 80%;
  }
  25%  { background-position: 75px 50;
    background-size: 100% 100%;
  }
  50%  { background-position: 200px -20;
    background-size: 40% 40%;
  }
 


  80% {background-position: -115px 0;
    background-size: 120% 120%;
  }
  100% {background-position: -175px 0;
    background-size: 140% 20%;
  }

}

 /* used to delete top info box */
.infoBox {
}

.zeroMargin {
  margin-left : 0;
  margin-right : 0;
}

/* css loader */

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.uv {

  float: right;
  margin-top: -187px;
  display: flex;
    align-self: flex-end;
}

.niceText {
font-weight: 600;
padding : 1%;
text-align: center;

}

.smallBox {
  width: 10rem;
  min-height: 400px;
}

.topBox {
  border:ridge;

}

.makeRight {
  width: 11rem;
  min-height: 420px;
  border:ridge;
  overflow:hidden;
  padding:2%;
  
  /* padding: 1%; */
}

@media screen and (max-width: 450px) {
  .makeRight {
  width: 165px;
  }
  .uv {
    visibility: hidden;
  }
}

meter{
  --background: #dadada;
  --optimum: forestgreen;
  --sub-optimum: gold;
  --sub-sub-optimum: crimson;

  /* The gray background in Firefox */
  background: var(--background);
  display: block;
  margin-bottom: 1em;
  width: 25%;
}

.meterOK ::-webkit-meter-optimum-value {
  background: green;
  background: var(--background);
  display: block;
  margin-bottom: 1em;
  width: 25%;
}
.meterOK::-moz-meter-bar { /* Firefox Pseudo Class */
  background: green;
}



.meteraverage::-webkit-meter-optimum-value {
  background: orange;
}
.meteraverage::-moz-meter-bar { /* Firefox Pseudo Class */
  background: orange;
}


.meterbad::-webkit-meter-optimum-value {
  background: red;
}
.meterbad::-moz-meter-bar { /* Firefox Pseudo Class */
  background: red;
}